/* Estilos para la página de políticas de privacidad */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 241, 225);
    display: flex;
    flex-direction: column;
    height: 100%;

    background-image:  url(https://th.bing.com/th/id/R.c3c09b4a7273665dbba59d34eb535893?rik=I8dD8Vsrg3f4Qg&riu=http%3a%2f%2fshopharbour.com.cn%2fcdn%2fshop%2fproducts%2fdune-swatch-351421.jpg%3fv%3d1692200487&ehk=%2b68l%2bqt2nSL9vMDuqtTKbJRE5uw4TlQk87O%2bD0kGSXE%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;     
    background-repeat: no-repeat;
    background-position: center;   
}

/* Es el espacio que se deja entre el encabezado y el pie de página, para que el contenido no quede pegado a ellos */
main{
    min-height: calc(100vh - 130px);
}

/* Estilos para el titulo de la página */
.title{
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: rgb(48, 35, 12);
    background-color: rgba(116, 116, 97, 0.644);
    margin-top: 130px;
    margin-bottom: 30px;
    padding: 10px;
}

.cuadroo{
    margin: 90px 0;
}

/* Orden para la tabla */
table{
width: 45%;
margin: auto;
border-spacing: 10px;
margin-bottom: 20px;

}

/* Estilos para el contenido de informacion de la tabla */
td{
    border: 2px solid rgba(78, 50, 8, 0.979);
    padding: 23px;
    
    background-color: antiquewhite;
    font-size: 20px;
    text-align: justify;
}

/* Estilos para el encabezado de la tabla */
caption{
    font-size: 23px;
    color: rgb(70, 62, 44);
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: underline;
}

/* Estilos para la primera columna de la tabla */
.col1{
    background-color: rgba(207, 207, 170, 0.644);
    color: rgb(0, 0, 0);
    font-weight: bold;
}